.super-mario {
    width: 200px;
  }
  
  .goomba {
    position: absolute;
    width: 100px;
    top: 370px;
    left:50px;
  }
  
  .baloon {
    
    position: absolute;
    top:30px;
    left:400px;
    z-index: 1;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top:65px;
    left:430px;
    z-index:2;
   
    
  }
  
  .bowser {
    position: absolute;
    top:150px;
    left :700px;
    width: 200px;
  }